name = "sky-dump"
account_id = "e6bd4c9e08862c4b3c8ddacbbef253b1"
main = "./dist/_worker.js/index.js"
compatibility_date = "2025-12-01"
compatibility_flags = ["nodejs_compat"]

[assets]
binding = "ASSETS"
directory = "./dist"

[[r2_buckets]]
binding = "R2"
bucket_name = "sky-dump"

[[kv_namespaces]]
binding = "KV"
id = "11246a3142cb4050bfa1bfbd60684a4c"

[[d1_databases]]
binding = "DB"
database_name = "sky-dump"
database_id = "fc4a2b18-69d5-4edf-907f-0cd94a4d04a5"

[observability]
enabled = true
