---
import Layout from '../layouts/Layout.astro'
import Header from '../components/layout/Header.tsx'
import Footer from '../components/layout/Footer.tsx'
import DashboardComponent from '../components/dashboard/Dashboard.tsx'
import { AuthProvider } from '../components/auth/AuthProvider.tsx'
---

<Layout title="Dashboard - SKY DUMP">
	<AuthProvider client:load>
		<div class="min-h-screen bg-gray-50 flex flex-col">
			<Header client:load />
			<DashboardComponent client:load />
			<Footer client:load />
		</div>
	</AuthProvider>
</Layout>
